@inject MediatR.IMediator _mediatr

<h2>Sistemas</h2>
<p>
    <a href="/sistemas/adiciona">Adicionar Sistema</a>
</p>
@if (listaSistema.Data.Resultados == null)
{
    
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>Nome:</th>
                <th>UrlServicoConsultaLog:</th>
                <th>UsuarioLogin:</th>
                <th>UsuarioSenha:</th>
                <th>Ação:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var resultado in listaSistema.Data.Resultados)
            {
            <tr>
                <td>@resultado.Nome</td>
                <td>@resultado.UrlServicoConsultaLog</td>
                <td>@resultado.UsuarioLogin</td>
                <td>@resultado.UsuarioSenha</td>
                <td>
                    <a href='/sistemas/edita/@resultado.Id'>Editar</a>
                    <a href='/sistemas/deleta/@resultado.Id'>Deletar</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}


@code {
    ListaSistema listaSistema;

    protected override async Task OnInitializedAsync()
    {
        listaSistema = new();
        listaSistema.Data = await _mediatr.Send(new ListaSistema.Query() { });
    }
}
