@page "/sistema/"

@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject HttpClient Http

<h2>Sistemas</h2>

@if (sistemas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>Nome:</th>
                <th>UrlServicoConsultaLog:</th>
                <th>UsuarioLogin:</th>
                <th>UsuarioSenha:</th>
                <th>Ação:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var resultado in sistemas)
            {
                <tr>
                    <td>@resultado.Nome</td>
                    <td>@resultado.UrlServicoConsultaLog</td>
                    <td>@resultado.UsuarioLogin</td>
                    <td>@resultado.UsuarioSenha</td>
                    <td>
                        <a href='/sistemas/edita/@resultado.Id'>Editar</a>
                        <a href='/sistemas/deleta/@resultado.Id'>Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<p>
    @exceptionMessage
</p>

@code {
    private const string ServiceEndpoint = "https://localhost:44351/api/Sistemas/ObtemTodosSistemas";

    private Sistema[] sistemas;
    private string exceptionMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            sistemas = await Http.GetFromJsonAsync<Sistema[]>(ServiceEndpoint);
        }
        catch (NotSupportedException exception)
        {
            exceptionMessage = exception.Message;
        }
    }

    public class Sistema
    {
        public int Id { get; set; }

        public string Nome { get; set; }

        public string UrlServicoConsultaLog { get; set; }

        public string UsuarioLogin { get; set; }

        public string UsuarioSenha { get; set; }
    }
}
